@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Special+Elite&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #111;
}
.apresentacao{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.titulo-apresentacao{
    font-family: 'Astloch', cursive;
    color: #fff;
    text-align: center;
    letter-spacing: 6px;
}

.introducao{
    font-family: 'Special Elite', cursive;
    color: #f00; 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 50rem;
    animation: type 4s steps(60, end); 
  }
  
  .introducao:nth-child(2){
    animation: type2 8s steps(60, end);
}

@keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }

.frase-Fredz{
    font-family: 'Astloch', cursive;
    color: #fff;
    animation: clareamento 8s ease-in;
}

@keyframes clareamento{
    to{opacity: 1;}
    from{
        opacity: 0 ;
    }
}

.botao-prologo{
    background-color: #fff;
    font-family: 'Astloch', cursive;
    text-decoration: none;
    color: #000;
    padding: .25rem 1rem;
    transition: .5s;
}

.botao-prologo:hover{
    background-color: #000;
    border-radius: .5rem;
    font-family: 'Astloch', cursive;
    text-decoration: none;
    color: #f00;
    padding: .25rem 1rem;
    transition: .5s;
}