@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Special+Elite&display=swap');

.Prologo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloQuarto{
    font-family: 'Astloch', cursive;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    animation: clareamento 4s ease-in-out;
}

@keyframes clareamento{
    to{opacity: 1;}
    from{
        opacity: 0 ;
    }
}

.alternativas{
    background-color: #000;
    border-radius: 1.5rem;
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow:  7px 7px 14px #000,
}
.buttonsEscolhas{
    font-size: 1rem;
    display: flex;
    background-color: #fff;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #000;
    padding: .25rem 1rem;
    transition: .5s;
    border-style: none;
    margin: .5rem;
}

.buttonsEscolhas:hover{
    background-color: #000;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #f00;
    border-style: none;
    padding: .25rem 1rem;
    transition: .5s;
    cursor: pointer;
}
.textoEscolhas{
    color: #f00;
    font-family: 'Special Elite', cursive;
    font-size: 1rem;
    animation: clareamento 1s ease-in;
}

@keyframes clareamento{
    to{opacity: 1;}
    from{
        opacity: 0 ;
    }
}

.Escolhas{
    display: flex;
    flex-direction: column;
}

.item{
    height: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.itemEncontrado{
    font-size: .75rem;
    font-family: 'Special Elite', cursive;
    color: #F00;
}
.ppp{
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
}
.item{
    display: flex;
}

.proximaRota{
    text-decoration: none;
    font-size: 1rem;
    
}

.rota{
    font-size: 1rem;
    color: #f00;
    font-family: 'Special Elite', cursive;
    font-size: 0.9rem;
    animation: clareamento 1s ease-in;
    display: flex;
    background-color: #fff;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #000;
    padding: .25rem 1rem;
    transition: .5s;
    border-style: none;
    margin: 0rem .5rem;
}

.rota:hover{
    background-color: #000;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #f00;
    border-style: none;
    padding: .25rem 1rem;
    transition: .5s;
    cursor: pointer;    
}

.imgsItem{
    border: solid #f00 1px;
    border-radius: .25rem;
    height: 40px;
    margin-left: 1rem;
}
.pegarItem{
    font-family: 'Astloch', cursive;
    font-size: .9rem;
    color: #f00;
    background-color: #000;
    border: solid 1px #f00;
    cursor: pointer;
}
.agradecimentos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.agradecimento{
    text-align: center;
    font-size: 2rem;
    color: #F00;
    font-family: 'Astloch', cursive;
}

.explicacaoAgradecimento{
    width: 50%;
    color: #fff;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Special Elite', cursive;
}

.ProjectB{
    color: #F00;
    font-family: 'Astloch', cursive;
    background-color:#000;
    padding: .25rem 1rem;
    border: 1px #f00 solid;
    border-radius: 1rem 0rem;
    transition: 1s;
}

.ProjectB:hover{
    color: #fff;
    font-family: 'Astloch', cursive;
    background-color:#000;
    padding: .25rem 1rem;
    border: 1px #fff solid;
    border-radius: 0rem 1rem;
    transition: 1s;
}